@import url('https://fonts.googleapis.com/css2?family=Quando&family=Righteous&display=swap');
.group-page-wrapper {

  .group-page-container {
    padding: 10px;
    .group-page-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
