@import url('https://fonts.googleapis.com/css2?family=Quando&family=Righteous&display=swap');
.group-page-wrapper {
  .group-page-container {
    padding: 10px;
    .group-page-header {
      margin-bottom: 10px;
      .add-exp-btn {
        background-color: #41b4a5;
        border-color: #41b4a5;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
