@import '../../assets/styles/colors';

.card-wrapper {
  .card-element {
    max-width: 300px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    .card-body {
      background: $color-blue-1;
      border-radius: 1rem;
      color: white;
    }
    .card-options {
      .dropdown-toggle {
        padding: 0;
        background: transparent;
        border: unset;
        &:focus {
          box-shadow: unset;
        }
        &::after {
          content: none;
        }
        &:hover {
          color: $color-green-1;
        }
      }
    }
    .dropdown-menu {
      .edit-div {
        cursor: pointer;
        p {
          margin-bottom: 0;
          margin-left: 5px;
          font-size: 12px;
        }
        .edit-group-hover {
          display: none;
        }
        &:hover {
          p {
            color: #41b4a5;
          }
          .edit-group {
            display: none;
          }
          .edit-group-hover {
            display: unset;
          }
        }
      }

      .link-div {
        cursor: pointer;
        p {
          margin-bottom: 0;
          margin-left: 5px;
          font-size: 12px;
        }
        .link-to-group-hover {
          display: none;
        }
        &:hover {
          p {
            color: #41b4a5;
          }
          .link-to-group {
            display: none;
          }
          .link-to-group-hover {
            display: unset;
          }
        }
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .total-expenses,
      .members {
        text-align: center;
        .value {
          font-size: 2rem;
        }
        .heading {
          font-size: 0.75rem;
          color: #b5bad0;
        }
      }
    }
  }
}
