.groups-wrapper {
  font-family: Quando;
  .groups-container {
    padding: 20px;
    .heading {
      .heading-text {
        font-weight: 700;
      }
      .create-btn {
        background-color: #41b4a5;
        border-color: #41b4a5;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
