@import '../../assets/styles/colors';
.create-group-modal {
  .create-group-modal-content {
    border-radius: 1rem;
    .add-member-section {
      .add-member-input {
        margin-right: 1rem;
      }
      .add-member-note {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        .add-member-note-text {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
    .member-group-wrap {
      height: 206px;
      overflow: auto;
      .member-list-wrap {
        border: unset;
        &:hover {
          background-color: #e1e3eb96;
        }
      }
      .member-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .member-wrap {
          display: flex;
          align-items: center;
          span {
            margin-left: 5px;
          }
        }
        .member-remove {
          justify-self: end;
        }
        .close-btn {
          .x-icon-hover {
            display: none;
          }
          &:hover {
            .x-icon-hover {
              display: unset;
            }
            .x-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
