.navbar-wrapper {
  background: #213445;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  .navbar-container {
    width: 100%;
    .navbar-nav {
      .nav-link {
        color: #e0e0e2;
        &:hover {
          color: white;
          font-weight: 600;
        }
      }
    }
    .header {
      color: #e0e0e2;
      font-family: Righteous;
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      span {
        color: #41b4a5;
      }
    }
  }
}
