.groups-wrapper {
  .groups-container {
    font-family: Quando;
    padding: 20px;
    .heading {
      .heading-text {
        font-weight: 700;
      }
      .create-btn {
        background-color: #41b4a5;
        border-color: #41b4a5;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 20px;
      align-items: stretch;
    }
  }
}
