@import url('https://fonts.googleapis.com/css2?family=Quando&family=Righteous&display=swap');
.wrapper {
  width: 1440px;
  height: 1080px;
  .background-shape {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 782px !important;
    background: #213445;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 492px 0px;
  }
  .header {
    position: absolute;
    margin-top: 20px;
    color: #e0e0e2;
    left: 1171px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 36px;
    span {
      color: #41b4a5;
    }
  }
  .content {
    padding-left: 40px;
    color: #e0e0e2;
    font-family: Quando;

    .main-content {
      height: 315px;
      width: 557px;
      padding-top: 110px;
      font-size: 71px;
      font-style: normal;
      font-weight: 400;
      line-height: 105px;
      letter-spacing: 0em;
      text-align: left;
      span {
        color: #41b4a5;
      }
    }
    .description {
      height: 90px;
      width: 617px;
      margin-top: 105px;
    }
  }
  .cta-btn {
    width: 320px;
    height: 70px;
    margin-top: 53px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: unset;
    font-family: Quando;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border: #e0e0e2 1px solid;
    color: #e0e0e2;
    &:hover {
      border: #41b4a5 1px solid;
      color: #41b4a5;
    }
  }

  img {
    position: absolute;
    height: 446px;
    width: 690px;
    left: 672px;
    top: 369px;
    border-radius: 0px;
  }
}
